body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #F9F9F9
}

#header{
  background-image: url("../img/hero.jpg");
  background-size: cover;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 320px;
}

@media (min-width: 768px) {
  #hero {
    min-height: 650px;
  }
}

#hero-text {
  text-align: center;
}

@media (min-width: 768px) {
  #hero-text {
    padding-left: 20%;
    padding-right: 20%;
  }
}

#myNavGlobal {
  background-color: transparent;
  border-color: transparent;
}

#myNavBars {
  float: left;
  margin-left: 20px;
  border-color: transparent;

}

#navList {
  margin-top: 0px;
  text-align: center;
  background-color: transparent;
}

#taller-div {
  min-height: 320px;
}

#gente-opina {
  margin-bottom: 15px;
}

#inspirar {
  line-height: 2;
  font-size: 17px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  #inspirar {
    font-size: 25px;
  }
}

#bloques-imagen {
  background-image: url("../img/oficina.jpg");
  background-size:  cover;
  background-repeat: no-repeat;
  content: '';
  min-height: 620px;
  width: 100%;
}

#bloques-texto {
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  #bloques-texto {
    padding-top: 15px;
  }
}


#imagen-toledo {
  background-image: url("../img/toledo.jpg");
  min-height: 500px;
  background-size: cover;
}

@media (min-width: 768px) {
  #imagen-toledo {
    min-height: 850px;
  }
}

#texto-toledo {
  display: flex;
  justify-content: center;
  min-height: 100px;
}

@media (min-width: 768px) {
  #texto-toledo {
    min-height: 850px;
  }
}

@media (max-width: 773px) {
  #texto-toledo {
    min-height: 300px;
  }
}

@media (min-height: 1024px) {
  #texto-toledo {
    min-height: 300px;
  }
}

#texto-toledo-interno {
  padding-left: 5%;
  padding-right: 5%;
  align-self: center;
}

@media (min-width: 768px) {
  #talleres-titulos {
    margin-top: 180px;
  }
}

#citas-div {
  padding-top: 30px;
  margin-bottom: 50px;
}

#jumbo-div {
  padding-top: 40px;
}

@media (min-width: 768px) {
  #jumbo-div{
    padding-top: 20px;
  }
}

.flexbox {
  display: flex;
}

.p-for-citas {
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}

.bloque-inlines {
  display: inline-block;
  margin-left: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.bloques-inlines-img {
  height: 25px;
  width: 25px;
  top: -5px;
  position: relative;
}


.titulos-margen {
  margin-top: 10px;
}

.col50 {
  max-width: 45%;
}

.bloques {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .bloques {
    text-align: left;
    padding-left: 20%;
  }
}

.bloques-citas {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.botones {
  border-radius: 100px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #2E71F2;
  border-color: transparent;
}

#topicos {
  margin-top: 10%;
}

#toledo-magna {
  margin-bottom: 15px;
}

#inversion {
  margin-bottom: 15px;
}

#contactar{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.nopadding {
  padding: 0px;
}

.text-center {
  text-align: center;
}

.imagen-rueda {
  border-radius: 50%;
  border-color: transparent;
}

.thejumbo {
  background-color: #F9F9F9;
  line-height: 0.5;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 30px;
  padding-top: 20px;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.thejumboinline {
  font-size: 15px;
  margin-bottom: 13px;
}

@media (min-width: 768px) {
  .thejumboinline {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.footering{
  height: 50px;
  text-align: center;
  background-color: #3B3D40;
  padding-top: 20px;
  font-size: 15px;
  color: white;
}


.footer-images
{
  height: 30px;
  width: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (min-width: 768px) {
  .thejumbo {
    margin-left: 25%;
    margin-right: 25%;
  }

  .footering {
    height: 60px;
  }
}

.bold {
  font-weight: 700;
}

.mayus {
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.quotes-img {
  margin-bottom: 10px;
}

#circles {
  text-align: center;
}

@media (min-width: 768px) {
  #circles {
    text-align: left;
  }
}


.img-circ{
  text-align: center;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

.azul{
  color: #2E71F2 !important;
}

.azul-hover {
  color: white !important;
}

.azul-hover:hover {
  color: #2E71F2 !important;
}

.grande {
  font-size: 35px;
}

.regular {
  font-size: 14px;
}

.left-on-big {
}

@media (min-width: 768px) {
  .left-on-big {
    text-align: left;
  }
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
